/************ HEADER   ****************/
.page-container > header {
    margin: 0;
    margin: 20px -15px;
    padding: 0 10px;
}

#header-container {
        background-color: white;
    @include box-shadow($args1);
}

.site-branding > div {
    margin-top: 0;
}
.logo-box a {
   display: inline-block;
    width: 300px;
}

#title-branding {
    max-width: 450px;
    background-color:white;
    padding: 0;  //15px;
    margin: 0;
    h1 {
        color: $base-col;
    }
    h1 a:hover, h1 a:focus {
        color: $base-col;
        text-decoration: none;
    }
.site-description {
    padding: 5px 0;
    color: $base-col;
   // font-style: italic;
    font-size: 1.1em;
    } 
}


//#main-header .site-branding {
.site-branding {
    margin-top: 2%;
    margin-bottom: 10px;
}


div#search-2.widget.widget_search {
    max-width: 300px;
    margin-top: 10px;
}



/* HEADER BACKGROUND IMAGE FOR DIFFERENT SCREENS */

.header-picture {
    @include gradient(transparent, black);
    background: url(images/banner-800.jpg), 
        linear-gradient(transparent 60%, rgba(0, 0, 0, 0.6) 85%);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding-right: 0;
    #site-logo {
          height: 150px;
          margin: 10px 20px 0 20px;
      }

  @media (min-width: $screen-sm-min) {
    background: url(images/banner.jpg), 
        linear-gradient(transparent 60%, rgba(0, 0, 0, 0.6) 85%);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

  }
  @media (max-width: 480px) {
    background-image: url(images/banner-500.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;  
    #site-logo {
          height: 120px;
          margin: 15px;
      }
}
}

ul.header-mag-list {
    list-style: none;
    li {
        display: inline;
        margin: 0 5px 10px 10px;
        color: white;
        font-size: 1.1em;
    }
    
}
