/* MEDIA STYLES */


/*********** MEDIA QUERIES FOR VERY SMALL SCREENS ****/
@media (max-width: 500px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      &.exsmall {
  float: left;
      width:90%;
      margin: 10px;
    }
    }
}
