

/**************** IMAGES ***************/
img {
    max-width: 100%;
            height: auto;
}
.card-thmb{
    width: 100%;
    max-width: 300px;
}
.card-thmb-horiz{
    width: 100%;
    max-width: 300px;
}
.card-thmb-vert{
    max-width: 150px;
    display: block;
    margin: auto;
}

.wp-caption {
    border: $mlgrey;
    img[class*="wp-image-"] {
        display: block;
        margin: 0;
        max-width: 100%;
    }
}

.monochrome-photo {
    background: linear-gradient(darken($base-col,30),$base-col); 
    float: left;
    margin: 0 10px;
    img {
        margin: 3px;
        mix-blend-mode: screen;
    }
}


.wp-caption-text {
   font-size : 0.8em;
    padding: 0.4em;
    margin: 0;
}

.cat-thmb {
        width: 30%;
        min-width: 120px;
        float: left;
        margin: 0 10px 10px 10px;
}

.link-image-class {
    width: 50%;
    min-width: 200px;
    height: auto;
}
// images Monochrome
#module-styles-2 {
    .featured-img{
        max-width: 350px;
    }
}

/************** BOXES AND CARDS ******************/

@mixin big-border{
    border: 2px solid map-get($greys,lt);
    padding: 20px; 
    margin-bottom: 20px;
}

@mixin small-border {
    border: $ltgrey solid 1px;
//    padding: 10px;
//    margin: 0 0 10px 0;
    border-radius: 4px;
}

@mixin single-note-mixin {
        @include small-border;
        margin-bottom: 10px;
        h2, h3{
            color: $base-col;
             margin: 10px;
            }
        p {   
            display: block;
            float: left;
            font-size :0.9em;
            margin: 5px 10px 5px 10px;
            }
}

.single-note{
    background-color: white;
    @include single-note-mixin;
    }

.notice-board{
    @include single-note-mixin;
    background-color: $ltgrey;
}

    .read-more {
        font-style: italic;
        float: right;
        padding-right: 10px;
        text-align: right;
        display: inline-block;
        vertical-align: baseline;
        }

.flex-row {
    @include flex-container;
    @include flex-flow(row wrap);  
@include flex-justify(center);
}




/* Vert card general and fall back values */

.vert-card {
    @include single-note-mixin;
    @include clearfix;
    margin: 10px;
    padding-bottom: 5px;
    background-color: white;
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
    display: block;
    .flex-grow { 
        h2, h3 {
            margin-bottom: 0;
        }    
        div {
            float: left;
            max-width: 300px;
             margin: 0;
        }
    }
    .flex-img-holder{
        padding: 0;
        img {
          width: 100%;  
        }
    }
    .card-footer {
        padding: 5px 10px;
        margin: 0;
        text-align: right;
    }
}
/* fall back for non-flex: (tablets, 768px and up) */
@media (min-width: 768px) { 
    .vert-card {
        width: 30%;
    }
}


/* flex-box version for browsers that support it */
/******* vert-card flexbox *****/

@mixin vert-card-mixin { 
    @include flex-container;
    @include flex-flow(column nowrap);
    @include align-content(flex-start);
    .flex-img-holder{
           // @include flex-item(1,1,250px);
            margin: auto;
        }
    .flex-img-vert{
         //   @include flex-item(1,1,150px); 
            margin: auto;
        }
    .flex-grow {
        @include flex-item(10,1,auto);
        @include flex-container;
        @include flex-flow(row wrap);
        @include align-content(flex-start);
        div {
            @include flex-item(1,1,250px); 
        }

        p {
            @include flex-item(1,1,150px);
        }
    }
    .card-footer{
        @include flex-item(0,1,auto);
        @include align-self(flex-end);
        &.readmore {
            margin-top: -10px;
        }
    }
}

.vert-card {
    @media (min-width: 600px) { 
        @include flex-item(0, 1, calc(33% - 20px));
        }
    @include vert-card-mixin;
    @include box-shadow($args5);
}

.horiz-card {
    @include single-note-mixin;
    @include clearfix;
    @include box-shadow($args5);
    margin: 10px auto;
    max-width: 650px;
//    @media (min-width: 600px) { 
//        width: 45%;
//        width: calc(50% - 20px);
//    }
    float: left;
    .card-left{
        width: 200px;
        margin: auto;
        float: left;
     @media (min-width: $screen-xs-min) { 
        width: calc(50% - 10px);
        }
    @media (min-width: 600px) { 
        width: calc(33% - 10px);
        }    
//     @media (min-width: $screen-lg-min) { 
//        width: calc(25% - 10px);
//        }            
        
    }
    .card-right{
        float: right;
     @media (min-width: $screen-xs-min) { 
        width: calc(50% - 10px);
        } 
        @media (min-width: 600px) { 
        width: calc(66% - 10px);
        }  
//        @media (min-width: $screen-lg-min) { 
//        width: calc(75% - 10px);
//        }   
    }
    h3 .horiz-event-date {
        font-size: 1.2rem;
        padding: 5px 10px;
        color: white; 
        float: right;
        background-color: $base-col;
    }
}

/* FRONT PAGE TOP ROW WITH FEATURE CARDS */

.feature-row{
    padding: 0 40px;
    margin-bottom: 20px;
}

.home-page-header {
    margin: 0 20px;
}

.feature-card{
    margin: -5px;
    position: relative;
    float: left;
    border-radius: 4px;
    @media (min-width: $screen-sm-min) { 
       margin: 0;
        }  
    @media (min-width: $screen-md-min ) { 
       margin: 5;
        } 
    .feature-img-holder{
       // border-top: 4px solid $base-col;
        width: 100%;
        border-radius: 4px;
    }
    @include box-shadow($args5);
}

.feature-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.5);
    @include gradient(transparent, black);
    h2 {
        color: $vltgrey;
        font-size: 1.6rem;

    @media (min-width: $screen-md-min ) { 
        margin-bottom: 10px;
        font-size: 1.6em;
        padding-top: 20px;
        } 
    }
    &:hover {
        text-decoration: none;
        color: white;
    }
}

/***  POSTS ON PAGES ***/

.card-head .category {
   color: black;
    max-width: 300px;
    background-color: $contr-col;
    margin: 0;
   // padding: 5px 10px;
    padding: 10px;
}

/************* LISTS ****************/

/* DEFINITION LISTS */

dt,dd {
       padding: 1px 10px; 
}
  dt {
    float: left;
    clear: left;

   // width: 8em; 
    text-align: right;
    font-weight: bold;
    color: $base-col;
  }

.list-box {
    h4 {
        margin: 10px 0 5px 10px;
    }
    ul {
        margin-left: 10px;
        padding-left: 10px;
    }
    li {
        list-style: none;
        padding: 0 0 5px 0;
        font-size: 0.85em;
    }
}

ul.button-list{
      li{
        list-style: none;
        display: inline;
        padding-bottom: 5px;
          margin: 10px;
    }  
}

