/*************** NAVBAR   *************/


/*********** NAV RESET ********/

@mixin menu-button {
            #menu-btn-left {
            float:left;
            h2{
                margin:0 5px 5px 5px;
            }
            }
            #menu-btn-right {
                float: left;
                margin: 5px;
        }
        .icon-bar{ background-color: $mdgrey; }
    }


@mixin nav-reset{
    
&.navbar-default {
    @include gradient (white, white);
    @include box-shadow(0 0 0 0);
    border: 0 solid transparent;
    background-color: white;
    .navbar.navbar-default {
        margin-bottom: 10px;
        }
    .navbar-collapse{
        padding: 0; // default: 0 15px
        border-radius: 4px;
    }
    ul.navbar-nav{
        margin: 0; // default: 0 -15px
        font-size: 1.1em;
        // border: 1px solid $ltgrey;
       li >  a {
           color: $base-col;
           // text-shadow: 0 1px 0 rgba(55,55,55,.05);
          //  padding: 15px 9px 15px 9px; //default : 15px
            }
         li  > a:hover, li > a:focus {
                color: $base-md;
            }
        > li.active > a, > li.open > a {
            color: $base-md;
            background-image: none;
                }
        .dropdown-menu {
            background-color: white;
            border-color: $mdgrey;
            > li > a {
              padding: 3px 20px;  
            }
        }
        .dropdown-menu>.active>a, 
        .dropdown-menu>.active>a:focus, 
        .dropdown-menu>.active>a:hover {
            border: none;
            background-image: none;
            background-color: white;
           // padding: 5px;
            //padding-left: 15px;
            //color: $base-col;
        }
    } 
    
        // mobile device navbar     
     button.navbar-toggle {
        @include menu-button;
        //color: $base-col;
         color: white;
         &:focus, &:hover{
            background-color: $base-md;
         }
    }  
}
         
    
}   

nav {
    @include nav-reset;
    .navbar-collapse {
        padding: 0; // default: 0 15px
        border-radius: 4px;
            ul.navbar-nav{
                float: right;
                background-color: white;
                li {
                    a {
                    background-color: white;
                    padding: 15px 15px 8px 15px;
                    border-bottom: 7px solid transparent; 
                    }
                > a:hover, > a:focus {
                    border-bottom: 7px solid $contr-col;
        }
                }
        }
    }
    

    #menu-primary.navbar-nav LI.active A
    {
        background-image: none;
        background-color: white;
        border-bottom: 7px solid $base-md;
    }

    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .open > a {
        background-image: none;
        background-color: white;
        border-bottom: 7px solid $base-md;
    }
    
    .navbar-header{
        background-color: $base-col;
        border-radius: 4px;
        button {
          // background-color: lighten($base-col,15%); 
        }
    }
    
}







