/***************** MAIN CONTENT **************/

.single article, .page article {
    min-height: 500px;
}
#main {
    background-color: #fff;
    border: 0 $mlgrey;
    article.page {
        padding: 1%;
    }
    &.site-main{
        padding: 2%;
        margin-bottom: 20px;
    }
}

#main-column{
        .post, .page{
        border: 0 solid #eee;
    }
}



 
/*************** P O S T S ****************/

/* Don't show meta data on posts or comments*/
.entry-meta, .entry-meta-category-tag, #comments {
    display: none;
}


/*************  CATEGORY (archive) PAGES ***********/

.archive-list {
    .page-header {
        padding-bottom: 9px;
        margin: 5px 10px;
        border-bottom: 0 solid #fff;
    }
    article header h1, h1.entry-title{
        border-bottom: 0 solid #fff;
        font-size: 1.5em;
        margin: 0;
        a {
            color: $base-col;
    }
    }
}

