// VARIABLES 
$voice-green:#59702d;
$contr-col:#ced54b;
//$bgcolour: #F2F7FE;

$colour-set: (
    'dk': $voice-green,
    'base': lighten($voice-green,5),
    'md': lighten($voice-green,18),
    'contrast':$contr-col,
    'contr-lt':lighten($contr-col,20),
    'contr-vlt':lighten($contr-col,30),
);


$base-col: map-get($colour-set,base);
$base-dk: map-get($colour-set,dk);
$base-md: map-get($colour-set,md);
$contr-lt: map-get($colour-set,contr-lt);


$greys: (
  'dk': #555,
  'md': #999,
  'ml': #ddd,
  'lt': #eee,
  'vlt': #f8f8f8,
);

// Useful colour shortcuts
$dkgrey: map-get($greys,'dk');
$mdgrey: map-get($greys,'md');
$mlgrey: map-get($greys,'ml');
$ltgrey: map-get($greys,'lt');
$vltgrey: map-get($greys,'vlt');

$bgcolour: $ltgrey;


$colours1: (
    'dk': $voice-green,
    'base': lighten($voice-green,10),
    'md': lighten($voice-green,15),
    'contrast':$contr-col,
    'contr-lt':lighten($contr-col,20),
    'contr-vlt':lighten($contr-col,30),
);


$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


$mypadding: 10px;
$args:5px 5px 5px 5px; 
$args1: 0 2px 3px rgba(0,0,0,.2);
$args2: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
$args2a:2px 2px 10px 5px rgba(0, 0, 0, 0.07);
$args3: 2px 2px 10px 4px rgba(0, 0, 0, 0.04);
$args4: 2px 2px 5px 4px rgba(0, 0, 0, 0.01);
$args5: 2px 2px 5px -4px rgba(0, 0, 0, 0.2);