/************* MAGOR ******************/

#module-styles-1 {
    .styled-list {  
        @include styled-list; 
            ul {
            li {
                @include gradient(#fefefe,$vltgrey);
                a {   
                border-radius: 8px;
                -webkit-transition-property: color, background-color;
                transition-property: color, background-color;
                @include transition(0.2s,ease-in-out);
                }
            }
            li:hover, li:focus, li:active {
                @include gradient(#fdfdfd,$ltgrey);
            }
        }
    }

    #sidebar-right {
        background-color: #fff;
            border: $ltgrey solid 1px;  
            @include box-shadow($args3); 

        .widget {
            padding: 20px 0 0 0;
            border: 0;
            @include styled-list;
            .widget-title {
            font-size: 22px;
                }
            }   

    }
}


/************* MONCHROME LIST STYLES ***********/

#module-styles-2 {
    
    .styled-list{
        @include styled-list; 
        padding: 5px 0 15px 0;
            border: 0 solid transparent;
         border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        @include border-gradient($base-col,lighten($base-col,20));
    }
}